.btn {
  height: 2rem;
  min-width: 3rem;
  border-radius: .3rem;
  margin: .1rem;
  color: white;
}
.btn:hover {
  filter: brightness(85%);
}
.btn:focus {
  outline: 0;
  box-shadow: none;
}
div.label-highlight {
  background-color: #fafafa;
  transition: none !important;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: all 0 none;
}
#low-1 {
  background: rgb(254, 240, 167);
}
#med-2 {
  background: rgb(250, 156, 88);
}
#high-3 {
  background: rgb(208, 56, 77);
}
#no-0 {
  background: rgb(211,211,211);
  margin-left: 1.2rem;
}
