.btn {
  height: 2rem;
  min-width: 3rem;
  border-radius: .3rem;
  margin: .1rem .7rem .1rem .7rem;
  color: white;
}
.btn:hover {
  filter: brightness(85%);
}
.btn:focus {
  outline: 0;
  box-shadow: none;
}
div.label-highlight {
  background-color: #fafafa;
  transition: none !important;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: all 0 none;
}
#yes-1 {
  background: rgb(34, 175, 34);
}
#no-0 {
  background: rgb(211,211,211);
}
